/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    z-index: 100;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 40px;
    width: 40px;
}

.navbar h1 {
    color: #f5c518;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

.nav-links li a:hover {
    background-color: #f5c518;
    color: black;
    border-radius: 5px;
}

/* Landing Section */
.landing {
    height: 100vh;
    background: url('image.png') no-repeat center center/cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 150px; /* reduce this value to move it left */
    padding-top: 60px; /* navbar space */
}


/* Login Box */
.login-box {
    background: rgba(0, 0, 0, 0.75);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    color: white;
    box-shadow: 0 0 15px rgba(245, 197, 24, 0.7);
    position: relative;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f5c518;
}

.login-box label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #222;
    color: white;
}

/* Focus effect */
.login-box input:focus {
    border: 2px solid #f5c518;
    background: #333;
}

/* Button */
.login-box button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #f5c518;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px #f5c518;
}
